@import url('./scrollbar.css');
@import url('./medicao.css');
@import url('./header.css');
@import url('./section/problema.css');
@import url('./section/tecnologias.css');
@import url('./section/objetivos.css');
@import url('./section/publico.css');
@import url('./section/beneficios.css');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

:root{
  --bg: #0D1B2A;
  --azul-200: ;
  --azul-400: ;
  --azul-600: ;
  --turquesa: #4ECDC4;
  --font-family: 'Merriweather', sans-serif;
}

body{
  background: var(--bg);
  font-family: var(--font-family);
  color: #fff;
}



