
body {
  --fundo-barra: #232e33;
  --color-barra: #085b65;
  --sb-size: 13px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--fundo-barra);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--color-barra);
  border-radius: 8px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--color-barra)
                     var(--fundo-barra);
  }
}