#objetivos{
  height: 100vh;
  margin-bottom: 3rem;
}

.container-objetivos{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.wrapper-objetivos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-objetivo{
  display: flex;
  align-items: flex-end;
  width: 399px;
  height: 478px;
  border-radius: 8px;
  /* background-image: url(''); */
  background-color: aliceblue;
  padding: 3rem;
}

.card1{
  background-image: url('../../img/card1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card2{
  background-image: url('../../img/card2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card3{
  background-image: url('../../img/card1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-objetivos h3{
  font-size: 2.2rem;
  font-weight: 500;
  text-align: left;
  width: 70%;
}


.container-objetivos h2{
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
.card-objetivo{
  width: 32%;
  height: 230px;
}

#objetivos{
  margin-bottom:0;
}
}

@media screen and (max-width: 1388px) {
.card-objetivo{
  width: 32%;
  height: 400px;
}
}
