#objetivos{
  height: 100vh;
  margin-bottom: 2rem;
}

.container-objetivos{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.wrapper-objetivos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-objetivo{
  display: flex;
  align-items: flex-end;
  width: 399px;
  height: 478px;
  border-radius: 8px;
  /* background-image: url(''); */
  background-color: aliceblue;
}

.container-objetivos h2{
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
.card-objetivo{
  width: 32%;
  height: 230px;
}
}

@media screen and (max-width: 1388px) {
.card-objetivo{
  width: 32%;
  height: 400px;
}
}
