#publico {
  height: 70vh;
  position: relative;
}

#publico .fundo1 {
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: 0;
}

#publico .fundo2 {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: 0;
}

.fundo1,
.fundo2,
.alvo {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container-publico {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.publico-texto {
  position: relative;
  height: 70vh;
  display: flex;
  width: 60%;
  padding: 5rem 5rem;
}

.publico-texto h2 {
  font-size: 3rem;
  z-index: 1;
  font-weight: 700;
}

.alvo {
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  width: 20%;
}

.publico-img {
  max-width: 40%;
}

.publico-img img {
  width: 100%;
}

.publico-texto span {
  color: var(--turquesa);
}

@media screen and (max-width: 1024px) {
  #publico{
    height: auto;
    padding-bottom: 7rem;
  }

  .publico-img {
    max-width: 70%;
  }

  .publico-texto {
    width: 90%;
    height: auto;
  }

  .container-publico {
    justify-content: center;
    flex-wrap: wrap;
  }

  .publico-texto h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 633px) {
  .publico-texto h2 {
    font-size: 2rem;
  }

  .publico-texto{
    width: 100%;
    padding: 2rem 2rem;
  }
}
