.background {
  background-image: url("../../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

#tecnologias {
  height: 80vh;
  position: relative;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.container-tech {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  flex-wrap: wrap;
}

#tecnologias .titulo-tech {
  text-transform: uppercase;
  font-size: 2rem;
}

#tecnologias .tartaruga {
  width: 25%;
  position: absolute;
  left: 0;
  z-index: 0;
  top: 80%;
}

.seta{
  position: absolute;
  z-index: 0;
  top: 90%; 
}

.seta, .tartaruga{
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none
}



.wrapper-tech {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}

.tech {
  display: flex;
  width: 281px;
  height: 113px;
  border-radius: 8px;
  background: var(--bg);
  text-align: center;
}

.img-tech {
  background-color: #fff;
  width: 40%;
  border-radius: 8px;
}

.nome-tech {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nome-tech h2{
  font-size: 2rem;
  font-weight: 400;
}

#html-logo{
  margin-top: 5px;
}

#css-logo{
  margin-top: 3.5px;
}

#js-logo{
  margin-top: 5px;
}

#figma-logo{
  margin-top: 5.5px;
}

@media screen and (max-width: 1024px) {
  .background {
    background-image: url("../../img/fundo-mobile.png"); 
  }

  .tartaruga {
    display: none;
  }

  .seta{
    top: 96%;
    width: 50px;
  }

  .wrapper-tech{
    gap: 2rem;
  }
  
  #tecnologias{
    height: auto;
    margin-bottom: 0;
  }
}


